@font-face {
    font-family: Josefin Sans;
    src: url(Assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Alegreya Sans;
    src: url(Assets/fonts/AlegreyaSans-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8.33vw;
    margin-right: 8.33vw;
    margin-top: 0.8125rem;
    height: 5.5625rem;
    font-family: Josefin Sans;
}

nav ul {
    display: flex;
    width: 49.65vw;
    justify-content: space-between;
    align-items: center;
}

nav button {
    height: 2.6875rem;
    width: 8.4375rem;
    border-radius: 7px;
    background-color: #2D635E;
    font-family: Josefin Sans;
    cursor: pointer;
    border-style: none;
    color: #FFFFFF;
}

#check {
    display: none;
}

#navbtn {
    cursor: pointer;
    display: none;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-color: white;
}

footer p {
    font-family: Alegreya Sans;
    font-size: 19px;
    color: #444A4A;
    
}

#redes {
    width: 50vw;
    display: none;
    justify-content: space-between;
}

@media (max-width: 768px){
    nav button {
        display: none;
    }
    nav ul {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-evenly;
        width: 100vw;
        height: 0vh;
        top: 6.375rem;
        right: 0px;
        transition: .6s;   
        visibility: hidden;
        overflow-y: hidden;
    }

    li {
        font-size: 2.25rem;
        font-weight: bold;
    }

    #nav.active ul {
        height: 72.05vh;
        visibility: visible;
        overflow-y: auto;
    }

    #navbtn {
        display: flex;
    }

    footer p {
        font-size: 14px;
        font-family: Josefin Sans;
    }

    footer.active {
        height: 15.39vh;
    }

    footer.active p {
        display: none;
    }

    footer.active #redes {
        display: flex;
    }
}