@font-face {
    font-family: Cedarville Cursive;
    src: url(Assets/fonts/CedarvilleCursive-Regular.ttf);
}

@font-face {
    font-family: Josefin Sans;
    src: url(Assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Alegreya Sans;
    src: url(Assets/fonts/AlegreyaSans-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    list-style: none;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25.9375rem;
}

#esquerda-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#esquerda-intro h2 {
    font-family: Cedarville Cursive;
    font-size: 19px;
    font-weight: normal;
}

#esquerda-intro h1 {
    margin-top: 0.75rem;
    font-size: 54px;
    font-family: Josefin Sans;
    margin-bottom: 1.875rem;
}

main button {
    background-color: #2D635E;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 5px;
    width: 11.75em;
    height: 54px;
    cursor: pointer;
}

#direita-intro {
    display: none;
}

#direita-intro div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 2.5rem;
    margin-bottom: 2.9375rem;
}

#direita-intro div p {
    color: #444A4A;
    font-size: 28px;
    font-family: Josefin Sans;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 0.5625rem;
}

#aboutus {
    width: 100%;
    height: 65.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#esquerda-aboutus h1 {
    display: none;
    flex-direction: column;
}

#direita-aboutus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38rem;
    width: 82.93vw;
    margin-top: 1.875rem;
}

#direita-aboutus h2 {
    font-family: Josefin Sans;
    font-size: 38px;
    font-weight: bold;
}

#direita-aboutus p {
    font-family: Alegreya Sans;
    color: #444A4A;
    font-size: 19px;
    font-weight: normal;
    line-height: 36px;
}

#promotion {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 57.4375rem;
}

#direita-promotion h1 {
    display: none;
    font-family: Cedarville Cursive;
    font-size: 28px;
    font-weight: normal;
    opacity: 75%;
}

#esquerda-promotion button {
    display: none;
}

#esquerda-promotion {
    width: 82.93vw;
    display: flex;
    flex-direction: column;
}

#esquerda-promotion h2 {
    font-family: Josefin Sans;
    width: 71.36vw;
    font-weight: bold;
    font-size: 36px;
    margin-top: 1.875rem;
}

#esquerda-promotion p {
    color: #444A4A;
    font-family: Alegreya Sans;
    font-weight: normal;
    font-size: 19px;
    line-height: 36px;
    margin-top: 12px;
}

#shop {
    display: flex;
    width: 100%;
    height: 94rem;
    flex-direction: column;
    background-color: #E3EBE7;
    justify-content: center;
    align-items: center;

}

#shop div {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 28.625rem;
    width: 90.40vw;
    border-radius: 25px;
    margin-bottom: 1.875rem;
    box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.17);
}

#shop div h2 {
    font-family: Josefin Sans;
    font-size: 28px;
    font-weight: bold;
}

#shop div p {
    color: #444A4A;
    text-align: center;
    font-family: Alegreya Sans;
    font-size: 19px;
    line-height: 36px;
    width: 73.16%;
}

#shop div button {
    font-size: 20px;
    font-weight: normal;
}

#contacts {
    width: 100%;
    height: 39.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#esquerda-contacts h1 {
    display: none;
    font-family: Cedarville Cursive;
    font-size: 28px;
    font-weight: normal;
    opacity: 75%;
}

#direita-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.0625rem;
}

#direita-contacts h2 {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
}

#direita-contacts p {
    color: #444A4A;
    font-family: Alegreya Sans;
    font-size: 18px;
    line-height: 45px;
    margin-bottom: 0.625rem;
}

#direita-contacts button {
    color: #444A4A;
    background-color: white;
    font-weight: normal;
    width: 11.875rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
}

#direita-contacts div {
    display: none;
}

#contacts.active {
    height: 46.375rem;
}

#direita-contacts div.active {
    display: flex;
    flex-direction: column;
}

@media (min-width: 769px) {
    #intro {
        height: 35.4375rem;
        padding: 8.33vw;
        justify-content: space-between;
    }

    #esquerda-intro {
        align-items: flex-start;
    }

    #direita-intro {
        display: flex;
    }

    #direita-intro div img {
        width: 32px;
        height: 32px;
        margin-top: 0.875rem;
    }

    #esquerda-intro h2 {
        color: #444A4A;
        font-size: 28px;
    }

    #esquerda-intro h1 {
        font-size: 63px;
        margin-top: 1.625rem;
        margin-bottom: 1.625rem;
    }

    main button {
        font-weight: normal;
        font-size: 20px;
    }

    #aboutus {
        height: 33rem;
        flex-direction: row;
    }

    #esquerda-aboutus h1 {
        display: flex;
        font-family: Cedarville Cursive;
        font-weight: normal;
        font-size: 28px;
        opacity: 75%;
    }

    #esquerda-aboutus img {
        content: url(Assets/Figure2.jpg);
    }

    #direita-aboutus {
        width: 44.79vw;
        height: auto;
        margin-left: 6.5625rem;
        margin-top: 0px;
        justify-content: flex-start;
    }

    #direita-aboutus h2 {
        margin-bottom: 1.5625rem;
    }

    #direita-aboutus p {
        margin-bottom: 0.9375rem;
    }

    #promotion {
        flex-direction: row;
        height: 33rem;
    }

    #esquerda-promotion {
        width: 42.71vw;
    }

    #esquerda-promotion p {
        margin-top: 2.75rem;
    }

    #esquerda-promotion button {
        display: block;
        margin-top: 1.5rem;
    }

    #direita-promotion {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 6.4375rem;
    }

    #direita-promotion h1 {
        display: flex;
    }

    #direita-promotion img {
        content: url("Assets/Figure3.jpg");
    }

    #shop {
        flex-direction: row;
        height: 33rem;
        padding-right: -1.875rem;
    }

    #shop div {
        width: 23.61vw;
        margin-bottom: 0px;
        margin-right: 1.875rem;
    }

    #contacts {
        height: 36rem;
        flex-direction: row;
    }

    #esquerda-contacts h1 {
        display: flex;
    }
    
    #esquerda-contacts img {
        content: url("Assets/snazzy-image1.jpg");
    }

    #direita-contacts {
        margin-top: 0px;
        margin-left: 11rem;
        align-items: flex-start;
    }

    #direita-contacts h2 {
        font-weight: normal;
        margin-bottom: 2.75rem;
    }

    #direita-contacts p {
        line-height: 36px;
        margin-bottom: 1rem;
    }

    #direita-contacts button {
        display: none;
    }

    #direita-contacts div {
        display: flex;
        flex-direction: column;
    }
}